/* Сбрасываем стили: */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
body {
  font-family: sans-serif;
  font-size: 40px;
  width: 100%;
  min-height: 100vh;
}
*/

.container {
  display: grid;
  gap: 20px; /* Добавим небольшой отступ между контейнерами: */
  /*
	grid-template-columns - За колонки отвечает
	grid-template-rows    - За ряды отвечает 
	grid-column-gap       - Отступы,  пространство между колонками
  
  */
  /*
  grid-template: 100px 100px / 200px 200px;
  */
  /* выстроить растояние по горизонтали*/
  grid-template-columns: 200px auto 100px 100px;
  /* по центру */
  /* display: grid;/
     place-items: center;   */
}

