
/* Подгружаем шрифты */

@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams.ttf);
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/Caviar_Dreams_Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_Italic.ttf);
    font-style: italic;
}
@font-face {
    font-family: "Caviar Dreams";
    src: url(../fonts/CaviarDreams_BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}
/* устанаваливаем нужный шрифт */

body 
{
font-family: "Caviar Dreams";
}
p
{
	font-size:14pt;	
	color:blue;
}
/*

font: [<начертание>] [ <форма строчных букв>] 
[<насьпценность>] [<кегль>] [/<высота строки>] [<гарнитура>];

*/
address {font: bold 12pt/14pt "Times New Roman";)