.grid{
  display:grid;
  grid-gap:10px;
  grid-template-areas: 
  "header"
  "article"
  "aside"
  "footer";
  
}
header{
  grid-area: header;
  border: 1px solid red;
}
article{
  grid-area: article;
  border: 1px solid red;

  height: 80vh;
}
aside{
  grid-area: aside;
  border: 1px solid red;
}
footer{
  grid-area: footer;
  border: 1px solid red;
  
  /*position: absolute;
  bottom: 0;
  width: 99%;*/
  
  /*height: 80px;*/
/*  margin-bottom: 0 auto;*/
margin-top: auto;


  
  
}
@media(min-width:640px){
  .grid{
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
  "header header"
  "article aside"
  "footer footer";
  }
}
/*            */

/* код меню начинается здесь*/

/* задаем меню */

nav {
	background-color: rgb(25,25,25); /*цвет меню */
	border: 1px solid rgba(255,255,255,.5);	/* цвет линии обрамления*/
	border-left: none;
	border-right: none;

}
/*убриаем все отступы*/
nav ul {

	padding: 0;
	margin: 0;	
}

/* меню li - выстроить по горизонтали*/
nav li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;	
}
nav a {
	float: left;
	font-size: .8em;	
	color: white; /* цвет букв */
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	border-right: 1px dashed rgba(255,255,255,.75); /* цвет разделителей  */
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
nav li:last-of-type a {
	border-right: none;	
}
nav a:hover {
	background-color: rgb(93,43,78);
}

.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.clear {
	zoom: 1;	
}

/* код меню заканчивается здесь*/