* {
	margin: 0;  /* внешние отступы со всех сторон отсутствуют */
	color: #fff;  /* цвет текста */
}
.content {    
	display: flex;  /* элемент отображается как блочный флекс контейнер */
	height: calc(100vh - 200px);  /* высчитываем высоту для элемента */
	background: #999;  /* цвет заднего фона */
}
section {
	display: flex;  /* элемент отображается как блочный флекс контейнер */
}
header, footer {
	height: 100px;  /* устанавливаем высоту для элементов */
	background: #777;  /* цвет заднего фона */
}
aside {
	flex: 1;  /* указываем на сколько элемент может увеличиться по отношению к остальным флекс элементам (flex-grow) */
}
main {
	background: #aaa;  /* цвет заднего фона */
	flex: 5 0 450px;  /* grow shrink basis */
}
section > div {  
	background: #333;  /* цвет заднего фона */
	margin: 5px;  /* внешние отступы со всех сторон */
	flex: 1 1 100px;  /* grow shrink basis */
	height: 100px;  /* устанавливаем высоту для элементов */
} 