@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  font-family: system-ui, serif;
/*   включаем сетку*/
  display: grid;
/*   формируем колонки*/
  grid-template-columns: minmax(150px, 25%) 1fr;
/*   делаем нулевые отступы*/
  padding: 0;
  margin: 0;
}

.sidebar {
/*   высота боковой панели — вся высота окна*/
  height: 100vh;
  
  /*   настраиваем внешний вид боковой панели*/
  background: lightpink;
  font-size: 2rem;
  text-align: center;
}

.content {
/*   тут наш текст про беспроводную зарядку*/
  padding: 2rem;
}