/*к тегу у которого есть атрибут*/
img[title]
{
	width:100px;
}
/*к тегу у которого есть атрибут и значение = 3 Картинка*/
img[title="3 Картинка"]
{
	width:200px;
}
a[href="https://ya.ru"]
{
	color:red;
}