/* центральная панель*/
.main{
	
	/* начало фоновая картитнка */
    background: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,150)),url(../img/logohor-mfc.png)no-repeat center center;
	background-size: cover; 
    background-attachment: fixed; /* фоновая картитнка фиксируется */
	/*opacity:0.09;*/
	background-size: 50%;
  /* конец фоновая картитнка *
.main a{
	text-decoration: none;
	/*color: red !important;*/
	line-height: 1.5em; /* межстрочный интервал */
  padding-bottom: 50px;
}
.main li{
	list-style-type: none; /* Убираем маркеры*/
	
}
.main li:hover{
	text-decoration:underline;/*подчеркивается при наведенеие на ссылку*/
	background-color: #cefcfd;
	
			
}
.main p{
	 margin-bottom: 0.2em; /* Отступ снизу */
}


