/*Правая панель*/
.sidebar2{
	float: right; /* Обтекание по правому краю */
	padding: 10px; /* Поля вокруг текста */
	padding: 0 20px 0 12px; /*отступы*/
	width: 15; /* Ширина блока */
  margin-top: 20px;
}