header {
  background-image: url(../img/road-g9875459d1_1920\ 1.png);
  width: 1680px;
  height: 750px;

}

.div1 {
  position: absolute;
  width: 386px;
  height: 196px;
  left: 240px;
  top: 652px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}

.div2 {
  position: absolute;
  width: 386px;
  height: 196px;
  left: 647px;
  top: 652px;
  background: #FFFFFF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);

}