li:nth-of-type(2){
  color:red;

}
div ul li:last-of-type{
  color:green;
}
div{
  border: 1px solid red;
}
#A{
  border: 1px solid red;

/*  width: 100px;*/
  top: 25px;
  left: 100px;
}

.container {
  display: grid;
  /*grid-template-columns: repeat(auto-fill, minmax(280px, 280px));*/
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 18px;
  grid-row-gap: 20px;
  border: 1px solid red;
  justify-content: center;
}

.children {
  width: 280px;
  height: 280px;
  background-color: black;
}



html{
  scroll-behavior: smooth;
}
.akeconsa-udaneles{
  position: fixed;
  bottom: 28px;
  right: 28px;
  z-index: 9;
}
.akeconsa-udaneles a {
  height: 42px;
  width: 42px;
  text-align: center;
  background: #151414;
  display: block;
  border-radius: 2px;
}
.akeconsa-udaneles a span {
  color: #f7f0f0;
  font-size: 30px;
  line-height: 42px;
  cursor: pointer;
}







