*{
	margin: 0;
	padding: 0;
}

/* конец кода сброса стилей браузера */
.back-video{
  position: absolute;
  right: 0;
  bottom: 0
  z-index: -1;
  
  /*
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  */
}


/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  top:0;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
h1{
  text-align: center;
}
/* видео расятнем на весь монитор */


@media (min-width: 750px) and (max-width: 991px) {
  height: 100%;
}

video {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;

  @media (max-width: 750px) {
    position: inherit;
  }
}