/* начало логотип */
.logo {
  /*margin: 10 0;*/
  width: 10%;
  /*margin-left: 10px;*/
  margin: 10px;
  position: absolute; 
}
/*.logo {float: left;}*/
 
 .heaimg{
	 display:flex;
}
/* конец логотип */
.header-h1{
  width: 100%;
  text-align: center;
  
}

