.di{
  display: block;
  height: 200px;
  width: 200px;
  position: relative;
  margin: 20px;
  background: radial-gradient(white, black);
  /*margin: 0; /* Убираем отступы */
  /*height: 100%; /* Высота страницы */
  /*background: radial-gradient(at center, #dfdf3b, #030303);*/
  /*
  background-image: url('https://kartinkin.net/uploads/posts/2021-07/thumbs/1625192717_12-kartinkin-com-p-fon-ribalka-krasivie-foni-12.jpg');
  
 opacity: 0.2; /* Полупрозрачный фон */
 /*filter: alpha(opacity=50);
  
  background-size: cover; /* Фон занимает всю доступную площадь */
  
  /*background-repeat: no-repeat;*/
  border-bottom: 3px solid white;
  transition: 1s; /* Время эффекта */
}

.di:hover{
  transform: scale(1.2); /* Увеличиваем масштаб */
}