/* сброс стилей браузера */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 
/* конец кода сброса стилей браузера */



/*левая панель*/
.sidebar1{
	float: 	left;
	width: 20%;
	padding: 0 20px 0 12px; /*отступы*/
}
/* центральная панель*/
.main{
	float: left;
	width: 60%;
	padding: 0 20px 0 20px; /*отступы*/
	border-left:dashed	1px rgb(140, 140, 150); /* линия с левая */
	border-right:dashed	1px rgb(140, 140, 150); /* линия правая */




}
/*Правая панель*/
.sidebar2{
	float: right;
	width: 20%;
	padding: 0 20px 0 12px; /*отступы*/
}
/* сбросить оптикание к подвалу*/
footer{
	clear: both;
}
/*подвал*/
footer {
	margin-top: 15px;
	font-size: .8em;	
	padding: 10px 10px 30px 10px;
	background-color: black;
	color: rgb(204,204,204);
}
footer a {
	color: white;	
}
/* все отступы будут находиться в пределах размера блока */
*{
	box-sizing: border-box;
}
/* задаем меню */

nav {
	background-color: rgb(25,25,25); /*цвет меню */
	border: 1px solid rgba(255,255,255,.5);	/* цвет линии обрамления*/
	border-left: none;
	border-right: none;

/* Фиксирует позицию всегда сверху */
	/*position: sticky;
	top: 0;*/

}
/*убриаем все отступы*/
nav ul {

	padding: 0;
	margin: 0;	
}

/* меню li - выстроить по горизонтали*/
nav li {
	float: left;
	padding: 0;
	margin: 0;
	list-style: none;	
}
nav a {
	float: left;
	font-size: .8em;	
	color: white; /* цвет букв */
	font-weight: normal;
	text-decoration: none;
	padding: 10px;
	border-right: 1px dashed rgba(255,255,255,.75); /* цвет разделителей  */
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-o-transition: all .5s;
	transition: all .5s;
}
nav li:last-of-type a {
	border-right: none;	
}
nav a:hover {
	background-color: rgb(93,43,78);
}

.clear:after {
  content: " ";
  display: table;
  clear: both;
}

.clear {
	zoom: 1;	
}

body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
}

header {
	background-color:rgb (93,43,78); 
	/*цвет заливки*/
	background-image: linear-gradient(to right, #7C4700, white);
	/*background-image: -webkit-linear-gradient(right, rgb(93,43,78), rgb(8,2,50));*/
	padding-bottom: 30px;
	/*border: solid 1px rgb(0, 9 ,0); /*линия solid-сплошная*/
	/*лшиния с низу*/
	border-bottom-style: solid;
	border-bottom-width: 1px; /* Толщина линии внизу */

	/* Фиксирует позицию всегда сверху */
	position: sticky;
	top: 0;


}
header h1 {
	font-size: 3em;	
	color: white;
	font-weight: bold;
	padding-top: 30px;
	clear: both;
	padding-left: 10px;


}

/*Двигаем на ширину монитора 1200*/

nav ul, header h1, footer p{
	max-width: 1200px;
	margin: 0 auto;
}

/* сделать по центру*/
.content-wrapper{
	max-width: 1200px;
	margin: 0 auto;
}
