
.ofs {
        display:flex;
        /*border:2px solid #FF8C00;*/
        /*padding:20px;*/
        width:1200px;
}
.ch {
        /*background-color:#ededed;*/
        /*border:2px solid #768D44;*/
        padding:30px;
        /*margin:10px;*/
		width:250px;
}
.ah2{
	font-size:1.2em;
}
.ap {
	font-size: 15px;
}
.zapis{
	font-size:1em;
	font-weight: bold;
	color: white;
	padding: 10px 15px;
	background-color: #ee5238;
	border: none;
	border-radius: 14px;
	
	}
	footer {

	position: fixed; /* фиксированная позиция */
	}